@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@500;900&display=swap');

h1{ 
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.fullPage{
    background-color: rgb(255, 187, 0);
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    margin: 0;
}

.yellowSquareContainer{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.yellowSquare{
    background-color: rgb(255, 238, 0);
    border-radius: 8px;
    align-content: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.buttonText{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 0;
    align-self: center;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
    align-self: center;
}

.imgClass{
    margin-top: 15px;
    width: 50%;
    height: auto;
}